{#
govuk_template.html defines the following blocks:

- top_of_page
- page_title
- head
- body_classes
- body_start
- cookie_message
- header_class
- inside_header
- proposition_header
- after_header
- content
- footer_top
- footer_support_links
- body_end

See https://github.com/alphagov/govuk_template for more
information regarding the template.

#}

{% extends "govuk_template/views/layouts/govuk_template.html" %}

{% block head %}

  <!-- use compiled govuk.css from the template -->
  <link rel="stylesheet" href="{{ asset_path }}stylesheets/govuk-template.css">

  <link rel="stylesheet" href="{{ asset_path }}stylesheets/govuk.css">

  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" media="screen" href="{{ asset_url('stylesheets/main.css') }}" />
  <!--<![endif]-->
  <style>
      #global-header-bar { background-color: {{header_colour}} }
  </style>
  <!--[if IE 6]>
  <link rel="stylesheet" media="screen" href="{{ asset_url('stylesheets/main-ie6.css') }}" />
  <![endif]-->
  <!--[if IE 7]>
  <link rel="stylesheet" media="screen" href="{{ asset_url('stylesheets/main-ie7.css') }}" />
  <![endif]-->
  <!--[if IE 8]>
  <link rel="stylesheet" media="screen" href="{{ asset_url('stylesheets/main-ie8.css') }}" />
  <![endif]-->

{% endblock %}

{% block page_title %}
  GOV.UK Notify admin
{% endblock %}

{% block cookie_message %}
  <p>
    GOV.UK Notify uses cookies to make the site simpler.
    <a href="{{ url_for("main.cookies") }}">Find out more about cookies</a>
  </p>
{% endblock %}

<!-- example of how you add propositional heading -->
{% block header_class %}with-proposition{% endblock %}
{% block proposition_header %}
<div class='header-proposition'>
  <div class='content'>
    <nav id='proposition-menu'>
      <ul id="proposition-links" class="right-aligned">
        <li><a href="{{url_for('.ags_sign_in')}}">Sign in</a></li>
        <li><a href="#">Documentation</a></li>
        <li><a href="{{url_for('.pre_register')}}">Get started</a></li>
        <li><a href="#" class="active">About</a></li>
      </ul>
    </nav>
  </div>
</div>
{% endblock %}

<!-- can remove banner by directly setting content block in template -->
{% block content %}
  <main role="main">
    <div class="phase-banner-alpha" style="margin:0 auto;max-width:960px;">
      <p>
        <strong class="phase-tag">ALPHA</strong>
        <span>You can help us improve this app by getting in touch and providing feedback.</span>
      </p>
    </div>
    {% block fullwidth_content %}{% endblock %}
  </main>
{% endblock %}

{% block body_end %}

  {# js scripts here #}
  {% include 'includes/scripts.html' %}

{% endblock %}
